[data-bs-theme="blue"] {
    --bs-body-bg:  hsl(228, 100%, 84%);
    --bs-body-color: hsl(0, 0%, 100%);
    --bs-body-small-text:hsl(231, 11%, 63%);
    --bs-body-small-text-200:hsl(229, 24%, 87%);
    --bs-body-bg-200: hsl(217, 100%, 97%);
    --table-bg: hsl(229, 24%, 87%);
    --table-title-color: hsl(213, 96%, 18%);
    --bs-table-bg: hsl(228, 100%, 84%);
    --bs-card-bg:  hsl(213, 96%, 18%);
    --bs-border-color: hsl(243, 100%, 62%);
    --bs-bg-selected-color: hsl(228, 100%, 84%);
    --bs-bg-unselected-color: hsl(0, 0%, 100%);
    --table-text-color: hsl(229, 24%, 87%);
    --invalid-color: hsl(354, 84%, 57%);
    --bs-hover-bg:  hsl(228, 100%, 84%);
    --bs-checked:hsl(206, 94%, 87%);
    --bs-form-check-input-bg:  hsl(0, 0%, 100%);
  }